<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{about.page.title}"></title>
    <link rel="icon" th:href="@{/assets/playground.png}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/input_search_fields.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
</head>

<body class="bc-whitesmoke">
<div class="container-md text-center">
    <div class="row">
        <div th:insert="fragments/header"></div>
    </div>
    <video autoplay muted loop class="videos" th:src="@{/assets/basketball.mp4}"></video>
    <h1 class="welcome-heading" sec:authorize="!isAuthenticated()" th:text="#{about.welcome}"></h1>
    <a class="btn btn-light rounded-0 border-2 welcome-login" th:href="@{/sign-in}" sec:authorize="!isAuthenticated()">
        <span th:text="#{about.login}"></span>
        <i class="fa fa-sign-in"></i>
    </a>
    <div class="row m-0 m-auto" sec:authorize="isAuthenticated()">
        <p class="border-2 about-us p-2 border" th:utext="#{about.title}+ '<br>' + #{about.text}"></p>
    </div>
</div>

<!-- Bootstrap core JS-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            const selectedOption = $('#locales').val();
            if (selectedOption !== ''){
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>