<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="row">
    <h1 th:text="#{gamesearch.title}"></h1>
</div>
<div class="row">
    <form id="form" th:object="${findGame}" th:action="@{/games/find}" method="post">
        <div class="row mb-3">
            <div class="col-sm">
                <label class="align-top" th:for="type_input_id" th:text="#{gamesearch.type}"></label>
                <select class="input_search_field bc-whitesmoke" id="type_input_id" th:field="*{type}">
                    <option value="" th:text="#{gamesearch.choose-type}"></option>
                    <option th:each="typeOpt : ${T(com.infoshareacademy.utils.GameType).values()}"
                            th:value="${typeOpt}" th:text="${typeOpt.value}"></option>
                </select>
            </div>
            <div class="col-sm">
                <label th:for="name_input_id" th:text="#{gamesearch.name}"></label>
                <select class="input_search_field bc-whitesmoke rounded" id="name_input_id" th:field="*{name}">
                    <option value="" th:text="#{gamesearch.choose-game}"></option>
                    <option data-game="SPORT" th:each="nameOpt : ${T(com.infoshareacademy.utils.SportGames).values()}"
                            th:value="${nameOpt}" th:text="${nameOpt.value}"></option>
                    <option data-game="BOARD" th:each="nameOpt : ${T(com.infoshareacademy.utils.BoardGames).values()}"
                            th:value="${nameOpt}" th:text="${nameOpt.value}"></option>
                </select>
            </div>
            <div class="col-sm">
                <label th:for="town_input_id" th:text="#{gamesearch.town}"></label>
                <input class="input_search_field bc-whitesmoke" type="text" id="town_input_id" th:field="*{town}">
            </div>

            <div class="col-sm">
                <label th:for="date_input_id" th:text="#{gamesearch.date}"></label>
                <div th:class="'alert alert-danger'" th:if="${#fields.hasErrors('dateOfGame')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('dateOfGame')}" th:text="${err}"></li>
                    </ul>
                </div>
                <input class="input_search_field bc-whitesmoke" type="date" id="date_input_id"
                       th:field="*{dateOfGame}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-start">
                <a th:href="@{/games/new}">
                    <button type="button" class="btn btn-warning text-start">
                        <span th:text="#{gamesearch.create-game}"></span>
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </button>
                </a>
            </div>
            <div class="col-sm text-end">
                <button id="clear-button" onclick="resetForm()" class="btn btn-secondary">
                    <span th:text="#{gamesearch.clear}"></span>
                    <i class="fa fa-remove" aria-hidden="true"></i>
                </button>
                <button type="submit" class="btn btn-primary">
                    <span th:text="#{gamesearch.search}"></span>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </form>
</div>
<script th:src="@{/js/clear-the-form.js}"></script>
<script th:src="@{/js/type-dropdown-listener.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            const selectedOption = $('#locales').val();
            if (selectedOption !== ''){
                window.location.replace('games/find?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>