<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-md">
    <div>
        <form th:object="${findGame}" th:action="@{/games/find}" method="post">
            <div class="row">
                <div class="col-sm">
                    <label th:for="name_input_id" th:text="'Name'"></label>
                    <input style="width: 100%; height: 30px; padding: 2px; border-width: 1px" type="text" id="name_input_id" th:field="*{name}">
                </div>

                <div class="col-sm">
                    <label class="align-top" th:for="type_input_id" th:text="'Type'"></label>
                    <select style="width: 100%; height: 30px; padding: 2px; border-width: 1px" id="type_input_id" th:field="*{type}">
                        <option value="">Please choose game type</option>
                        <option th:each="typeOpt : ${T(com.infoshareacademy.utils.GameType).values()}"
                                th:value="${typeOpt}" th:text="${typeOpt.value}"></option>
                    </select>
                </div>

                <div class="col-sm">
                    <label th:for="town_input_id" th:text="'Town'"></label>
                    <input style="width: 100%; height: 30px; padding: 2px; border-width: 1px" type="text" id="town_input_id" th:field="*{town}">
                </div>

                <div class="col-sm">
                    <label th:for="date_input_id" th:text="'Date'"></label>
                    <div th:class="'alert alert-danger'" th:if="${#fields.hasErrors('dateOfGame')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('dateOfGame')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <input style="width: 100%; height: 30px; padding: 2px; border-width: 1px" type="date" id="date_input_id" th:field="*{dateOfGame}">
                </div>

                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" th:text="'Search'"></button>
                </div>

            </div>
        </form>
    </div>
</div>
</body>
</html>