<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{creategame.page.title}"></title>
    <link rel="icon" th:href="@{/assets/playground.png}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/input_search_fields.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>

</head>
<body class="bc-whitesmoke">
<div th:insert="fragments/header"></div>

<div class="container-md p-4 m-4 shadow bc-darkseagreen rounded-3 w-20">
    <div class="row">
        <h1 th:text="#{creategame.page.title}"></h1>
    </div>

    <div class="row">
        <form th:object="${game}" th:action="@{/games/new}" method="post">
            <div class="row mb-3">
                <label th:for="type_input_id" th:text="#{creategame.type}"></label>
                <div class="alert alert-danger p-0 pt-1" th:if="${#fields.hasErrors('type')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('type')}" th:text="${err}"></li>
                    </ul>
                </div>
                <select class="input_search_field bc-whitesmoke rounded" id="type_input_id" th:field="*{type}">
                    <option value="">Choose type of game</option>
                    <option th:each="typeOpt : ${T(com.infoshareacademy.utils.GameType).values()}"
                            th:value="${typeOpt}" th:text="${typeOpt.value}"></option>
                </select>
            </div>
            <div class="row mb-3">
                <label th:for="name_input_id" th:text="#{creategame.name}"></label>
                <div class="alert alert-danger p-0 pt-1" th:if="${#fields.hasErrors('name')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                </div>
                <select class="input_search_field bc-whitesmoke rounded" id="name_input_id" th:field="*{name}">
                    <option value="">Choose a game</option>
                    <option data-game="SPORT" th:each="nameOpt : ${T(com.infoshareacademy.utils.SportGames).values()}"
                            th:value="${nameOpt.getValue()}" th:text="${nameOpt.value}"></option>
                    <option data-game="BOARD" th:each="nameOpt : ${T(com.infoshareacademy.utils.BoardGames).values()}"
                            th:value="${nameOpt.getValue()}" th:text="${nameOpt.value}"></option>
                </select>
            </div>
            <div class="row mb-3">
                <label th:for="town_input_id" th:text="#{creategame.town}"></label>
                <div class="alert alert-danger p-0 pt-1" th:if="${#fields.hasErrors('town')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('town')}" th:text="${err}"></li>
                    </ul>
                </div>
                <input class="input_search_field bc-whitesmoke rounded" type="text" id="town_input_id"
                       th:field="*{town}">
            </div>
            <div class="row mb-3">
                <label th:for="maxNumberOfPlayers_input_id" th:text="#{creategame.maxnumofplayers}"></label>
                <div class="alert alert-danger p-0 pt-1" th:if="${#fields.hasErrors('maxNumberOfPlayers')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('maxNumberOfPlayers')}" th:text="${err}"></li>
                    </ul>
                </div>
                <input class="input_search_field bc-whitesmoke rounded" type="text" id="maxNumberOfPlayers_input_id"
                       th:field="*{maxNumberOfPlayers}">
            </div>
            <div class="row mb-3">
                <label th:for="date_input_id" th:text="#{creategame.date}"></label>
                <div class="alert alert-danger p-0 pt-1" th:if="${#fields.hasErrors('dateOfGame')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('dateOfGame')}" th:text="${err}"></li>
                    </ul>
                </div>
                <input class="input_search_field bc-whitesmoke rounded" type="datetime-local" id="date_input_id"
                       th:field="*{dateOfGame}">
            </div>
            <div class="row mb-3">
                <button type="submit" class="btn btn-warning">
                    <span th:text="#{creategame.create}"></span>
                    <i class="fa fa-legal" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script th:src="@{/js/type-dropdown-listener.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            const selectedOption = $('#locales').val();
            if (selectedOption !== ''){
                window.location.replace('games/new?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>