<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Secure app</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
</head>
<body>
<div class="container text-center">
    <form class="form-signin" action="/" th:object="${user}" method="POST" enctype="utf8">
        <img class="mb-4" th:src="@{/assets/bootstrap-solid.svg}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
        <label for="username" class="sr-only">Email address</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
               autofocus="" th:field="*{username}"/>
        <p th:each="error: ${#fields.errors('username')}"
           th:text="${error}">Validation error</p>

        <label for="mail" class="sr-only">Email</label>
        <input type="email" id="mail" name="mail" class="form-control" placeholder="E-Mail" required=""
               th:field="*{mail}"/>

        <p th:each="error : ${#fields.errors('mail')}"
           th:text="${error}">Validation error</p>

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required=""
               th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>

        <label for="matchingPassword" class="sr-only">Confirm password</label>
        <input type="password" id="matchingPassword" name="matchingPassword" class="form-control"
               placeholder="Confirm password" required="" th:field="*{matchingPassword}"/>
        <p th:each="error : ${#fields.errors('matchingPassword')}"
           th:text="${error}">Validation error</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>