<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/input_search_fields.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
</head>
<body>
<div class="fixed-top">
    <div class="row align-items-center bc-darkseagreen">
        <div class="col img-scale text-start ms-1 mt-1" th:href="@{/}">
            <img th:src="@{/assets/playground-long.png}" alt="" height="80" class="mb-1">
        </div>
        <div class="col text-end me-4" sec:authorize="isAuthenticated()">
            <select class="bc-whitesmoke" id="locales">
                <option value="" th:text="#{languages.change}"></option>
                <option value="en" th:text="#{languages.english}">
                    <i class="en"></i>
                </option>
                <option value="pl" th:text="#{languages.polish}"></option>
            </select>
            <a th:href="@{/player}" class="btn btn-secondary bc-darkseagreen bor-darkseagreen" sec:authorize="isAuthenticated()">
                <i class="fa fa-user"></i>
            </a>
            <a class="btn btn-secondary bc-darkseagreen bor-darkseagreen" th:href="@{/sign-out}" sec:authorize="isAuthenticated()">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <nav th:fragment="header" sec:authorize="isAuthenticated()"
             class="navbar navbar-expand-lg navbar-dark scrolling-navbar justify-content-start bc-darkseagreen m-auto">
            <div class="nav-item p-1 m-1 btn-secondary bc-darkseagreen rounded-2" >
                <a class="navbar-brand me-0" th:href="@{/}" th:text="#{header.about-us}"></a>
            </div>
            <div class="nav-item p-1 m-1 btn-secondary bc-darkseagreen rounded-2">
                <a class="navbar-brand me-0" th:href="@{/dashboard}" sec:authorize="isAuthenticated()" th:text="#{header.dashboard}"></a>
            </div>
            <div class="nav-item p-1 m-1 btn-secondary bc-darkseagreen rounded-2">
                <a class="navbar-brand me-0" th:href="@{/games}" sec:authorize="isAuthenticated()" th:text="#{header.games}"></a>
            </div>
            <div class="nav-item p-1 m-1 btn-secondary bc-darkseagreen rounded-2">
                <a class="navbar-brand me-0" th:href="@{/map}" sec:authorize="isAuthenticated()" th:text="#{header.map}"></a>
            </div>
            <div class="nav-item p-1 m-1 btn-secondary bc-darkseagreen rounded-2">
                <a class="navbar-brand me-0" th:href="@{/users}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{header.users}"></a>
            </div>
        </nav>
    </div>
</div>
</body>
</html>