<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar justify-content-center"
     style="background-color: darkslategray; margin-bottom: 20px">
    <div class="nav-item">
        <a class="navbar-brand" th:href="@{/}">Home</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand" th:href="@{/dashboard}" sec:authorize="isAuthenticated()">Dashboard</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand" th:href="@{/games}" sec:authorize="isAuthenticated()">Games</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand" th:href="@{/map}" sec:authorize="isAuthenticated()">Map</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand" th:href="@{/player}" sec:authorize="isAuthenticated()">My Profile</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand" th:href="@{/users}" sec:authorize="hasRole('ROLE_ADMIN')">Users</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand btn btn-outline-primary" th:href="@{/sign-in}" sec:authorize="!isAuthenticated()">Sign In</a>
    </div>
    <div class="nav-item">
        <a class="navbar-brand btn btn-outline-primary" th:href="@{/sign-out}" sec:authorize="isAuthenticated()">Sign out</a>
    </div>
</nav>
</body>
</html>