html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: whitesmoke;
}

.sign-body {
    background-image: url('../assets/sports-tools.jpg');
    background-size: cover;
}

.bc-lightgreen {
    background-color: lightgreen;
}

.bc-darkseagreen {
    background-color: darkseagreen;
}

.bc-lightgrey {
    background-color: lightgrey;
}

.img-scale {
    object-fit: scale-down;
}
.videos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.whitesmoke {
    color: whitesmoke;
}
.bor-darkseagreen {
    border-color: darkseagreen;
}

.welcome-heading {
    position: absolute;
    top: 100px;
    right: 50px;
}

.welcome-login {
    top: 150px;
    right: 50px;
    position: absolute;
    border-color: whitesmoke;
    background-color: rgb(245, 245, 245, .8);
}

.about-us {
    background-color: rgb(245, 245, 245, .8);
    border-color: whitesmoke;
    position: sticky;
    font-size: xx-large;
}