html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: whitesmoke;
}

.sign-body {
    background-image: url('../assets/sports-tools.jpg');
    background-size: cover;
}

.bc-lightgreen {
    background-color: lightgreen;
}

.bc-darkseagreen {
    background-color: darkseagreen;
}

.img-scale {
    object-fit: scale-down;
}

.whitesmoke {
    color: whitesmoke;
}
.bor-darkseagreen {
    border-color: darkseagreen;
}